<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>
<!--Main content for displaying the DB-->
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1><%= title %></h1>
      <br>
       <% if (!recipes || recipes.length === 0) { %>
        <p>No recipes yet. <a href="/recipes/new">Add your first one</a>.</p>
      <% } else { %>
        <table class="table table-bordered table-striped table-hover">
          <!-- Header Row -->
          <tr class="d-flex">
            <th class="text-center col-2">Title</th>
            <th class="text-center col-3">Ingredients</th>
            <th class="text-center col-3">Steps</th>
            <th class="text-center col-2">Tags</th>
            <th class="text-center col-2">Created</th>
            <th class="text-center col-2">Actions</th>
          </tr>
          <!--loop-->
          <% for (let i = 0; i < recipes.length; i++) { %>
            <tr class="d-flex">
              <td class="col-2"><%= recipes[i].title %></td>
              <td class="col-3"><%= recipes[i].ingredients %></td>
              <td class="col-3"><%= recipes[i].steps %></td>
              <td class="col-2">
                <% if (recipes[i].tags && recipes[i].tags.length) { %>
                  <%= recipes[i].tags.join(', ') %>
                <% } %>
              </td>
              <td class="col-2 text-center">
                <%= new Date(recipes[i].createdAt).toLocaleDateString() %>
              </td>
              <td class="col-2 text-center">
                <a class="btn btn-sm btn-outline-primary" href="/recipes/<%= recipes[i]._id %>/edit">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a class="btn btn-sm btn-outline-danger" href="/recipes/<%= recipes[i]._id %>/delete">
                  <i class="fas fa-trash"></i> Delete
                </a>
              </td>
            </tr>
          <% } %>
        </table>
      <% } %>
      
      <a class="btn btn-success" href="/recipes/new">
        <i class="fas fa-plus"></i>Add Recipe
      </a>
    </div>
  </div>
</main>

<%- include('../partials/footer.ejs') %>